<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">

<title>Ciudades</title>
</head>
<body>


	<form th:action="@{/ciudades/save}" th:object="${ciudad}" method="post">

		<div class="card-header">Registro de Ciudades</div>
		<div class="form-group col-md-6">
			<label for="formGroupExampleInput">Nombre de la Ciudad :</label> <input
				type="text" class="form-control" id="formGroupExampleInput"
				th:field="*{nombreCiudad}"
				placeholder="Escribir el nombre de la ciudad">
		</div>
		<div class="form-row">
			<div class="card text-center">
				<button type="submit" class="btn btn-info">
					<i class="fas fa-save"></i> Grabar
				</button>
			</div>
			<div class="card text-center">
				<a th:href="@{/ciudades/login}" class="btn btn-danger"><i
					class="fas fa-ban"></i> Cancelar</a>
			</div>
		</div>


	</form>
	<script th:src="@{js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>

	<table class="table table-striped col-md-6">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Ciudad</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="ciudad : ${ciudades}">
				<th th:text="${ciudad.id}" scope="row">.</th>
				<td th:text="${ciudad.nombreCiudad}">.</td>
				<td></td>
			</tr>

		</tbody>
	</table>

</body>
</html>