<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">
<title>Registro de comprobantes</title>
</head>
<body>

	<h1 align="center" class="display-4">Registrar comprobante</h1>
<br>

	<!-- crear un formulario, ingresar data y enviarlo al controller -->
	<form th:action="@{/comprobantes/save}" th:object="${tipocomprobante}" method="post">
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <input type="text" class="form-control" th:field="*{nombreTipoComprobante}" placeholder="Nombre tipo de comprobante">
	    </div>
	  </div>
	  
		<!-- Crear boton, tipo submit cuando un boton es vinculado a un formulario. Envia el contenido del formulario al archivo curso/save -->
		<br>
		<div class="card text-center ">
		<button type="submit" class="btn btn-success">
			<i class="fas fa-save"></i> Guardar
		</button>
		 </div>
	</form>
	<br>
	<br>
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre tipo de comprobante</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="tipocomprobante : ${tipocomprobantes}">
				<th th:text="${tipocomprobante.id}" scope="row">.</th>
				<td th:text="${tipocomprobante.nombreTipoComprobante}">.</td>
				<td></td>
			</tr>
		</tbody>
	</table>


<br>
 <br>
 <br>
 <br>
 <p align="center"> StudentHome 2020 </p>
 
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/bootstrap..min.js}"></script>
</body>
</html>