<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" th:href="@{/css/formulario4studenthome.css}">


<title>Estudiantes</title>
</head>
<body>
<header th:replace="layout :: header"></header>

<div class="formulario-studenthome-box-estudiante">
	<h2> Registrar estudiante</h2>
	

				<form th:action="@{/estudiantes/save}" th:object="${estudiante}"
					method="post">


						<div class="form-row">
							<div class= "user-box col-md-6">
								 <input autocomplete="off"
									type="text" class="form-control" id="formGroupExampleInput"
									th:field="*{persona.nombrePersona}" >
									<label for="formGroupExampleInput">Nombres :</label>
							</div>

							<div class= "user-box col-md-6">
								 <input autocomplete="off"
									type="text" class="form-control" id="formGroupExampleInput2"
									th:field="*{persona.apellidoPersona}" >
									<label for="formGroupExampleInput2">Apellidos :</label>
							</div>
						</div>

						<div class="form-row">
							<div class="user-box col-md-6">
								 <input autocomplete="off"
									type="text" class="form-control" id="formGroupExampleInput"
									th:field="*{usuarioEstudiante}" >
									<label for="formGroupExampleInput">Nombre de Usuario :</label>
							</div>

							<div class="user-box col-md-6">
								 <input autocomplete="off"
									type="text" class="form-control" id="formGroupExampleInput2"
									th:field="*{contrasenaEstudiante}" >
									<label for="formGroupExampleInput2">Contraseña :</label>
							</div>
						</div>

						<div class="form-row">
							<div class="user-box col-md-6">
								 <select
									th:field="*{descripcionUniv}" class="form-control">
									<option style="background-color: skyblue;" value="">Seleccione la universidad</option>
									<option style="background-color: skyblue;" value=" Universidad Nacional del Callao (UNAC)">
										Universidad Nacional del Callao (UNAC)</option>
									<option style="background-color: skyblue;"
										value=" Universidad Nacional Mayor de San Marcos (UNMSM)">
										Universidad Nacional Mayor de San Marcos (UNMSM)</option>
									<option style="background-color: skyblue;"
										value=" Universidad José Faustino Sánchez Carrión (UNJFSC)">
										Universidad José Faustino Sánchez Carrión (UNJFSC)</option>
									<option style="background-color: skyblue;" value=" Universidad Nacional Agraria La Molina">
										Universidad Nacional Agraria La Molina</option>
									<optionstyle="background-color: skyblue;"
										value=" Universidad Nacional de Educación E. Guzmán y Valle (UNE)">
										Universidad Nacional de Educación E. Guzmán y Valle (UNE)</option>
									<option style="background-color: skyblue;" value=" Universidad Nacional de Ingeniería (UNI)">
										Universidad Nacional de Ingeniería (UNI)</option>
									<option style="background-color: skyblue;"
										value=" Universidad Nacional Federico Villarreal (UNFV)">
										Universidad Nacional Federico Villarreal (UNFV)</option>
									<option style="background-color: skyblue;" value=" Universidad Privada San Juan Bautista (UPSJB)">
										Universidad Privada San Juan Bautista (UPSJB)</option>
									<option style="background-color: skyblue;" value=" Universidad Inca Garcilaso de la Vega (UIGV)">
										Universidad Inca Garcilaso de la Vega (UIGV)</option>
									<option style="background-color: skyblue;" value=" Universidad Peruana de Las Américas">
										Universidad Peruana de Las Américas</option>
									<option style="background-color: skyblue;" value=" Universidad Tecnológica del Perú (UTP) ">
										Universidad Tecnológica del Perú (UTP)</option>
									<option style="background-color: skyblue;" value=" Universidad del Pacifico (UP)">
										Universidad del Pacifico (UP)</option>
									<option style="background-color: skyblue;"
										value=" Universidad Peruana de Ciencias e Informática (UPCI)">
										Universidad Peruana de Ciencias e Informática (UPCI)</option>
									<option style="background-color: skyblue;"
										value=" Universidad Femenina del Sagrado Corazón (UNIFE)">Universidad
										Femenina del Sagrado Corazón (UNIFE)</option>
									<option style="background-color: skyblue;" value=" Universidad San Ignacio de Loyola (USIL)">
										Universidad San Ignacio de Loyola (USIL)</option>
									<option style="background-color: skyblue;"
										value=" Universidad Peruana de Ciencias Aplicadas (UPC)">Universidad
										Peruana de Ciencias Aplicadas (UPC)</option>
									<option style="background-color: skyblue;" value=" Universidad Ricardo Palma (URP)">Universidad
										Ricardo Palma (URP)</option>
									<option style="background-color: skyblue;" value=" Universidad Marcelino Champagnat (UMCH)">Universidad
										Marcelino Champagnat (UMCH)</option>
									<option style="background-color: skyblue;" value=" Universidad de Lima (ULIMA) ">Universidad
										de Lima (ULIMA)</option>
									<option style="background-color: skyblue;" value=" Universidad de San Martín de Porres (USMP)">Universidad
										de San Martín de Porres (USMP)</option>
									<option style="background-color: skyblue;"
										value=" Pontificia Universidad Católica del Perú (PUCP)">Pontificia
										Universidad Católica del Perú (PUCP)</option>
									<option style="background-color: skyblue;" value=" Universidad Peruana Cayetano Heredia (UPCH)">Universidad
										Peruana Cayetano Heredia (UPCH)</option>
									<option style="background-color: skyblue;" value=" Universidad de Piura (PAD)">Universidad
										de Piura (PAD)</option>
									<option style="background-color: skyblue;" value=" Universidad Antonio Ruiz de Montoya (UARM) ">Universidad
										Antonio Ruiz de Montoya (UARM)</option>
									<option style="background-color: skyblue;" value=" Universidad Científica del Sur (UCSUR)">Universidad
										Científica del Sur (UCSUR)</option>
									<option style="background-color: skyblue;" value=" Universidad Privada del Norte (UPNORTE)">Universidad
										Privada del Norte (UPNORTE)</option>
									<option style="background-color: skyblue;" value=" Universidad Cesar Vallejo (UCV)">Universidad
										Cesar Vallejo (UCV)</option>
									<option style="background-color: skyblue;" value=" Universidad Alas Peruanas (UAP)">Universidad
										Alas Peruanas (UAP)</option>

								</select>
								<label for="descripcionUniv">Universidad</label>

							</div>

							<div class="form-group ">
								<label for="formGroupExampleInput">¿Hacer Roomate? :</label>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio"
										th:field="*{roomate}" name="inlineRadioOptions"
										id="inlineRadio1" value="Si"> <label
										class="form-check-label" for="inlineRadio1">Si</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio"
										th:field="*{roomate}" name="inlineRadioOptions"
										id="inlineRadio2" value="No"> <label
										class="form-check-label" for="inlineRadio2">No</label>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="user-box col-md-6">
								<input autocomplete="off"
									type="text" class="form-control" id="formGroupExampleInput3"
									th:field="*{persona.dni}" >
									<label for="formGroupExampleInput2">DNI :</label> 
							</div>
							<div class="user-box col-md-6">
								 <input autocomplete="off"
									type="text" class="form-control" id="formGroupExampleInput4"
									th:field="*{persona.numeroTelefono}" >
									<label for="formGroupExampleInput2">Teléfono :</label>
							</div>
						</div>
						<div class="user-box col-md-20">
							 <input autocomplete="off"
								type="text" class="form-control" id="formGroupExampleInput5"
								th:field="*{persona.direccion}" >
								<label for="formGroupExampleInput2">Dirección :</label>
						</div>

						<div class="center-button">
							
								<button type="submit">
								  <span></span>
			      				<span></span>
			     			    <span></span>
			      			    <span></span>
							 Grabar
								</button>
							</div>
				</form>

</div>
	<script th:src="@{js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>


<!-- 
	<table class="table table-striped ">
		<thead class="thead-dark ">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombres</th>
				<th scope="col">Apellidos</th>
				<th scope="col">Usuario</th>
				<th scope="col">Contraseña</th>
				<th scope="col">Universidad</th>
				<th scope="col">Roomate</th>
				<th scope="col">DNI</th>
				<th scope="col">Teléfono</th>
				<th scope="col">Dirección</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="estudiante : ${estudiantes}">
				<th th:text="${estudiante.id}" scope="row">.</th>
				<td th:text="${estudiante.persona.nombrePersona}">.</td>
				<td th:text="${estudiante.persona.apellidoPersona}">.</td>
				<td th:text="${estudiante.usuarioEstudiante}">.</td>
				<td th:text="${estudiante.contrasenaEstudiante}">.</td>
				<td th:text="${estudiante.descripcionUniv}">.</td>
				<td th:text="${estudiante.roomate}">.</td>
				<td th:text="${estudiante.persona.dni}">.</td>
				<td th:text="${estudiante.persona.numeroTelefono}">.</td>
				<td th:text="${estudiante.persona.direccion}">.</td>
				<td></td>
			</tr>

		</tbody>
	</table>
	 -->


</body>
</html>