<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">


    <title>Iniciar sesión</title>
    <header th:replace="layout :: header"></header>
</head>

<body>

<div class="formulario-studenthome-box-login">
<div class="form">
    <p>Iniciar sesion</p>
    <form th:action="@{/signin}" method="post">
        <input type="text" name="username" id="username" placeholder="user">
        <input type="password" name="password" id="password" placeholder="password">
       <button  type="submit" >Ingresar</button>
       <p class="message">No tienes cuenta? Registrate</p>

					<a href="arrendadores/registro" class="btn btn">Arrendador</a>
					<a href="estudiantes/registro" class="btn btn">Estudiante</a>
			</form>
</div>
</body>
</html>