<!doctype html>


<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<link rel="stylesheet" th:href="@{/css/studenthome.css}">
<title>Habitaciones</title>
<body>

<header th:replace="layout :: header"></header>
	<div class="row">
	    <div class="col">
	    <form th:action="@{/habitaciones}" method="get">
	      <input type="text" id="habitacionSearch" name="keyword"  placeholder="Buscar por distrito">
	      <button type="submit" class="btn btn-success"><i class="fas fa-find"></i> Buscar</button>
	      </form>
	  
	    </div>
	    </div>


	<h1>Habitaciones</h1>

	<!-- Crear un formulario, ingresar data y enviarlo al Controller -->

	<div id="multi-item-example" class="carousel slide carousel-multi-item"
		data-ride="carousel">

		<!--Controls
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
  </div>
  -->
		<!--/.Controls-->

		<!--Indicators
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    
  </ol>
  <!--/.Indicators-->

		<!--Slides-->
		<!--  
  <div   class="carousel-inner" role="listbox">
-->
		<!--First slide-->

		<!--/.First slide-->

	</div>


	<div th:each="habitacion:${habitaciones}" id="container">


		<!-- Start	Product details -->
		<div class="product-details">

			<!-- 	Product Name -->
			<h1
				th:text="${habitacion.numeroViviendaExterno} + '-'+ ${habitacion.numeroViviendaInterno}"></h1>




			<!-- The most important information about the product -->

			<p th:text="${habitacion.descripcionInmueble}" class="information"></p>
			<p th:text="${habitacion.descripcionAmueblado}" class="information"></p>

			<p
				th:text="${habitacion.roomate} ?'Admite roomate':'No admite roomate'"
				class="information"></p>



			<!-- 		Control -->
			<div class="control">

				<!-- Start Button buying -->
				<button class="btn">
					<!-- 		the Price -->
					<span th:text="${habitacion.precio} + ' soles' " class="price"></span>
					<!-- 		shopping cart icon-->
					<span class="shopping-cart"><i class="fa fa-shopping-cart"
						aria-hidden="true"></i></span>

				</button>
				<!-- End Button buying -->

			</div>

		</div>

		<!-- 	End	Product details   -->



		<!-- 	Start product image & Information -->

		<div class="product-image">

			<img th:src="${habitacion.imagen1}" alt="Omar Dsoky">

			<!-- 	product Information-->
			<div class="info">
				<h2
					th:text="'Tipo de inmueble: '+ ${habitacion.tipoInmueble.nombreTipoInmueble}"></h2>
				<ul>
					<li><strong
						th:text="'Numero de habitaciones: '+ ${habitacion.numeroHabitaciones}">
					</strong></li>
					<li><strong
						th:text="'Distrito: ' +${habitacion.distrito.nombreDistrito}">
					</strong></li>
					<li><strong th:text="${habitacion.direccion}"> </strong></li>
					<li><strong th:text="${habitacion.metrosCuadrados} + ' m^2'">
					</strong></li>
					<li><strong
						th:text="'Tiene los servicios de: '+ ${habitacion.descripcionServicios}">
					</strong></li>
					<li><strong
						th:text="'Arrendador: '+ ${habitacion.arrendador.Persona.nombrePersona}">
					</strong></li>
					<li><strong
						th:text="'Universidad cercana: '+ ${habitacion.universidad.nombreUniversidad}">
					</strong></li>

				</ul>
			</div>
		</div>
		<!--  End product image  -->

	</div>

	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/bootstrap..min.js}"></script>
</body>
</html>