<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">

<title>Estudiantes</title>
</head>
<body>


	
	<main role="main ">
		<section class="container pt-3">
			<div class="card text-center">



				<form th:action="@{/habitaciones/save}" th:object="${habitacion}"
					method="post">
					<div class="card-header">Registro de Habitacion</div>
					<div class="card-body text-left">
						<div class="form-row">
							<div class="col">
								<input type="text" class="form-control"
									th:field="*{numeroViviendaExterno}"
									placeholder="Numero Vivienda Externo">
							</div>
							<div class="col">
								<input type="text" class="form-control"
									th:field="*{numeroViviendaInterno}"
									placeholder="numero Vivienda Interno">
							</div>
							<div class="col">
								<input type="text" class="form-control"
									th:field="*{numeroHabitaciones}"
									placeholder="numero Habitaciones">
							</div>
							<div class="col">
								<input type="text" class="form-control" th:field="*{direccion}"
									placeholder="direccion">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<input type="text" class="form-control"
									th:field="*{metrosCuadrados}" placeholder="metros cuadrados">
							</div>
							<div class="col">
								<input type="text" class="form-control" th:field="*{precio}"
									placeholder="precio">
							</div>
							<div class="col">
								<input type="text" class="form-control"
									th:field="*{descripcionInmueble}"
									placeholder="descripcion Inmueble">
							</div>
							<div class="col">
								<input type="text" class="form-control"
									th:field="*{descripcionAmueblado}"
									placeholder="descripcion Amueblado">
							</div>
							<div class="col">
								<input type="text" class="form-control"
									th:field="*{descripcionServicios}"
									placeholder="descripcion Servicios">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<input type="text" class="form-control" th:field="*{imagen1}"
									placeholder="imagen 1">



								<div class="form-group row">
									<label class="col-md-3" for="arrendador">Arrendador:</label> <select
										th:field="*{arrendador}" class="form-control-sm col-md-6"
										id="arrendador">
										<option th:each="arrendador:${arrendadores}"
											th:value="${arrendador.id}"
											th:text="${arrendador.Persona.nombrePersona}" />
									</select>
								</div>

								<div class="form-group row">
									<label class="col-md-3" for="distrito">Distrito:</label> <select
										th:field="*{distrito}" class="form-control-sm col-md-6"
										id="distrito">
										<option th:each="distrito:${distritos}"
											th:value="${distrito.id}"
											th:text="${distrito.nombreDistrito}" />
									</select>
								</div>
								<div class="form-group col-md-2">
									<label for="formGroupExampleInput">¿Admitir roomate? :</label>

									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio"
											th:field="*{roomate}" name="inlineRadioOptions"
											id="inlineRadio1" value="1"> <label
											class="form-check-label" for="inlineRadio1">Si</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio"
											th:field="*{roomate}" name="inlineRadioOptions"
											id="inlineRadio2" value="0"> <label
											class="form-check-label" for="inlineRadio2">No</label>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-md-3" for="tipoInmueble">TipoInmueble:</label>
									<select th:field="*{tipoInmueble}"
										class="form-control-sm col-md-6" id="tipoInmueble">
										<option th:each="tipoInmueble:${tipoInmuebles}"
											th:value="${tipoInmueble.id}"
											th:text="${tipoInmueble.nombreTipoInmueble}" />
									</select>
								</div>

								<div class="form-group row">
									<label class="col-md-3" for="universidad">Universidad:</label>
									<select th:field="*{universidad}"
										class="form-control-sm col-md-6" id="universidad">
										<option th:each="universidad:${universidades}"
											th:value="${universidad.id}"
											th:text="${universidad.nombreUniversidad}" />
									</select>
								</div>

							</div>
						</div>
					</div>


					<button type="submit" class="btn btn-success">
						<i class="fas fa-save"></i> Grabar
					</button>
				</form>

			</div>
		</section>
	</main>





	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/bootstrap..min.js}"></script>
	
</body>
</html>