<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">
<link rel="stylesheet" th:href="@{/css/market.css}">
<link rel="stylesheet" th:href="@{/css/formulario3studenthome.css}">

<title>Arrendadores</title>
</head>
<body>

	<div class="formulario-studenthome-box-arrendador">
	<h2> Registrar arrendador</h2>
	

			
				<form th:action="@{/arrendadores/save}" th:object="${arrendador}"
					method="post">
					<div class="row">
		
			<div class="card-body text-left">

					
					
						<div class="user-box">
						
								 <input autocomplete="off"
									type="text"  
									th:field="*{persona.nombrePersona}" />
									<label>Nombres :</label>
							</div>

							<div class="user-box">
								<input autocomplete="off"
									type="text"  
									th:field="*{persona.apellidoPersona}" />
									<label>Apellidos :</label> 
							</div>
											
							<div class="user-box">
								 <input autocomplete="off"
									type="text"  
									th:field="*{usuarioArrendador}" >
									<label>Nombre de Usuario :</label>
							</div>

							<div class="user-box">
								 <input autocomplete="off"
									type="text" 
									th:field="*{contraseñaArrendador}" >
									<label>Contraseña :</label>
							</div>
						
					
							<div class="user-box">
								<select
									th:field="*{distrito}" class="form-control"
									id="distrito">
									<option th:each="distrito:${distritos}" style="background-color: skyblue;"
										th:value="${distrito.id}" th:text="${distrito.nombreDistrito}" />
								
								</select>
							<label class="col-md-3" for="distrito"> Distrito: </label> 
                       </div>
							<div class="user-box">
								 <input autocomplete="off"
									type="text" 
									th:field="*{ruc}" >
									<label>RUC :</label>
							</div>

			

						<div class="user-box">
							
								<input autocomplete="off"
									type="text"  
									th:field="*{persona.dni}" >
									<label>DNI :</label> 
							</div>
							<div class="user-box">
								 <input autocomplete="off"
									type="text"  
									th:field="*{persona.numeroTelefono}" >
									<label>Teléfono :</label>
							</div>
					
						<div class="user-box">
							<input autocomplete="off"
								type="text" 
								th:field="*{persona.direccion}" >
								<label> Dirección :</label> 
						</div>

						<div class="user-box">
							<input autocomplete="off"
								type="text" 
								th:field="*{descripcion}" >
								<label >Autodescripcion :</label> 
						</div>
						

					<div class= "center-button">
			<button  type= "submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Grabar
    </button>
	</div>

				
					
</div>
						</div>
				</form>
</div>
			

	
	<script th:src="@{js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>


</body>
</html>